<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @user.name %></h1>
    <p>
      You recently requested to delete your account. If you requested this, please enter <em><%= @code %></em> on the validation page to confirm. <br />
      If you did not request this, please update your account's password immediately.
    </p>
  </body>
</html>
